In [1]:
import pandas as pd

#### bot_all

In [2]:
bot_all = pd.read_pickle('bot_all.pkl')

In [3]:
len(bot_all)

22275139

In [4]:
bot_all.columns

Index(['t1_id', 't1_author_id', 't1_author_username', 't1_datetime', 't1_text',
       't1_text_cleaned', 't2_id', 't2_author_id', 't2_author_username',
       't2_datetime', 't2_text', 't2_text_cleaned', 't2_text_processed',
       'predicted_label'],
      dtype='object')

In [5]:
bot_all = bot_all.sample(100, random_state=1)
bot_all = bot_all[['t1_id','t2_id','t1_author_id','t2_author_id','predicted_label']]

In [6]:
bot_all.head()

,t1_id,t2_id,t1_author_id,t2_author_id,predicted_label
5998546,None,1078609641536393216,NaN,911365117010436096,0
20504190,1575549282202968066,1575549704699580426,1313240299666374656,1510470873945411585,0
21432796,1590576270366363648,1590659445536980995,1507338108,1575419191041359872,0
19603082,1558757995898617862,1558757999459635202,1252219954700718081,1252219954700718081,0
15668648,1462867382439927809,1462881586869944334,334921581,1063051371925172224,1

In [7]:
bot_all.to_pickle('sample_bot_all.pkl')

#### bot_general

In [8]:
bot_general = pd.read_pickle('bot_general.pkl')

In [9]:
len(bot_general)

9069182

In [10]:
bot_general.columns

Index(['t1_id', 't1_author_id', 't1_author_username', 't1_datetime', 't1_text',
       't1_text_cleaned', 't2_id', 't2_author_id', 't2_author_username',
       't2_datetime', 't2_text', 't2_text_cleaned', 't2_text_processed',
       'predicted_label'],
      dtype='object')

In [11]:
bot_general = bot_general.sample(100, random_state=1)
bot_general = bot_general[['t1_id','t2_id','t1_author_id','t2_author_id','predicted_label']]

In [12]:
bot_general.head()

,t1_id,t2_id,t1_author_id,t2_author_id,predicted_label
6017184,None,1418295568003059713,NaN,18252291,1
2579625,1144670024050905088,1144670364653510657,3046525515,829296094102355968,1
2633137,None,1149537845658320898,NaN,782950897198338048,1
7846333,1548712176130605057,1548714227241603072,890692451710763008,890692451710763008,1
3281656,1210036540208009216,1210049744904609797,762932101,1514379060,1

In [13]:
bot_general.to_pickle('sample_bot_general.pkl')

#### bot_direct

In [14]:
bot_direct = pd.read_pickle('bot_direct.pkl')

In [15]:
len(bot_direct)

309107

In [16]:
bot_direct.columns

Index(['t1_conversation_id', 't1_id', 't1_created_at', 't1_geo',
       't1_in_reply_to_user_id', 't1_public_metrics', 't1_source', 't1_text',
       't2_conversation_id', 't2_id', 't2_created_at', 't2_geo',
       't2_in_reply_to_user_id', 't2_public_metrics', 't2_source', 't2_text',
       't1_author_created_at', 't1_author_description', 't1_author_id',
       't1_author_location', 't1_author_name', 't1_author_profile_image_url',
       't1_author_public_metrics', 't1_author_url', 't1_author_username',
       't1_author_verified', 't2_author_created_at', 't2_author_description',
       't2_author_id', 't2_author_location', 't2_author_name',
       't2_author_profile_image_url', 't2_author_public_metrics',
       't2_author_url', 't2_author_username', 't2_author_verified',
       'filter_bot_in_text', 'filter_bot_in_mentions', 'filter_monologue',
       't1_text_cleaned', 't2_text_cleaned', 'filter_t1_bot_pattern_lax',
       'filter_t1_bot_pattern_strict', 'filter_t2_bot_pattern_lax',
       'filter_t2_bot_pattern_strict', 't1_datetime', 't2_datetime', 't1_year',
       't1_month', 't2_year', 't2_month', 't1_detoxify_toxicity',
       't2_detoxify_toxicity', 'n_accusations', 'n_accusers', 'n_accusing',
       'n_accusees'],
      dtype='object')

In [17]:
bot_direct = bot_direct.sample(100, random_state=1)
bot_direct = bot_direct[['t1_id','t2_id','t1_author_id','t2_author_id','t1_author_location','t2_author_location','t1_year','t2_year','n_accusations', 'n_accusers', 'n_accusing',
       'n_accusees','t1_detoxify_toxicity','t2_detoxify_toxicity']]

In [18]:
bot_direct.head()

,t1_id,t2_id,t1_author_id,t2_author_id,t1_author_location,t2_author_location,t1_year,t2_year,n_accusations,n_accusers,n_accusing,n_accusees,t1_detoxify_toxicity,t2_detoxify_toxicity
273127,1562231969425297409,1562233803271282688,1455179096036577284,1479319852137414658,Arizona,None,2022.0,2022,1.0,1,2,2.0,0.011717,0.429686
254221,1535073746159288321,1535084931101392897,884175906,1500299470474383366,"Ground Gears, USA",None,2022.0,2022,1.0,1,3,2.0,0.923358,0.195091
184760,None,1345418315875774464,None,1127410188472819713,None,🍊,NaN,2021,NaN,0,1,NaN,None,0.257417
9963,None,575456519812087808,2557136532,52193121,"Miami, FL",None,NaN,2015,1.0,1,1,NaN,None,0.097681
129807,1245422388969422856,1245427745087078400,51308923,589606816,None,California,2020.0,2020,1.0,1,3,2.0,0.942722,0.459453

In [19]:
bot_direct.to_pickle('sample_bot_direct.pkl')

#### botometer

In [20]:
botometer_dataset = pd.read_pickle('_botometer/botometer_dataset.pkl')

In [21]:
len(botometer_dataset)

13638

In [22]:
botometer_dataset.columns

Index(['t1_author_id', 't1_year', 'n_accusations', 'n_accusers', 'n_accusing',
       'n_accusees', 't1_author_botometer_raw_overall'],
      dtype='object')

In [23]:
botometer_dataset = botometer_dataset.sample(100, random_state=1)

In [24]:
botometer_dataset.head()

,t1_author_id,t1_year,n_accusations,n_accusers,n_accusing,n_accusees,t1_author_botometer_raw_overall
2641,4119446079,2019.0,6.0,6,4,3.0,0.83
10593,1518688291154976770,2022.0,2.0,2,1,NaN,0.39
1217,877217668754886656,2018.0,3.0,2,124,75.0,0.10
2359,27874367,2019.0,6.0,6,1,NaN,0.81
4803,251361217,2020.0,2.0,2,6,5.0,0.26

In [25]:
botometer_dataset.to_pickle('_botometer/sample_botometer_dataset.pkl')

#### cluster_t1

In [26]:
cluster_t1 = pd.read_pickle('_cluster_t1/t1_id_cluster.pkl')

In [27]:
len(cluster_t1)

763930

In [28]:
cluster_t1.columns

Index(['t1_id', 'cluster'], dtype='object')

In [29]:
cluster_t1 = cluster_t1.sample(100, random_state=1)

In [30]:
cluster_t1.head()

                      t1_id cluster
387482  1418847135190200321    None
210823  1382275270837690370      62
118035  1363755039014158336    None
439515  1427077468008062981    None
459574  1429970222409265154    None

In [31]:
cluster_t1.to_pickle('_cluster_t1/sample_t1_id_cluster.pkl')

#### model development

##### test

In [32]:
test_set = pd.read_csv('_model_development/annotations_test.csv')

In [33]:
len(test_set)

193

In [34]:
test_set.columns

Index(['ID', 'text', 'label'], dtype='object')

In [35]:
test_set = test_set.sample(100, random_state=1)
test_set = test_set[['ID','label']]

In [36]:
test_set.head()

                      ID  label
44    716689492023771136      0
69   1471809061310001157      2
162   589124105166790656      1
35   1565273232894296064      1
183   413826156308094976      1

In [37]:
test_set.to_csv('_model_development/sample_annotations_test.csv')

##### train

In [38]:
train_set = pd.read_csv('_model_development/annotations_train.csv')

In [39]:
len(train_set)

1903

In [40]:
train_set.columns

Index(['ID', 'text', 'label'], dtype='object')

In [41]:
train_set = train_set.sample(100, random_state=1)
train_set = train_set[['ID','label']]

In [42]:
train_set.head()

                       ID  label
1006  1332151660601253888      1
137   1535026154255556610      2
285    668503054686130177      0
1379  1493645360752906241      1
1721  1553482631529971713      0

In [43]:
train_set.to_csv('_model_development/sample_annotations_train.csv')

##### disaggregated test

In [44]:
dtest_set = pd.read_csv('_model_development/disaggregated_test.csv')

In [45]:
len(dtest_set)

193

In [46]:
dtest_set.columns

Index(['ID', 'Text', 'Annotator_1', 'Annotator_2', 'Label'], dtype='object')

In [47]:
dtest_set = dtest_set.sample(100, random_state=1)
dtest_set = dtest_set[['ID','Annotator_1','Annotator_2','Label']]

In [48]:
dtest_set.head()

                      ID    Annotator_1 Annotator_2          Label
44    716689492023771136  no accusation  accusation  no accusation
69   1471809061310001157  no accusation     unclear        unclear
162   589124105166790656     accusation  accusation     accusation
35   1565273232894296064     accusation  accusation     accusation
183   413826156308094976  no accusation  accusation     accusation

In [49]:
dtest_set.to_csv('_model_development/sample_disaggregated_test.csv')

#### polarization

In [50]:
pd_polarization = pd.read_pickle('_polarization/pd_polarization.pkl')

In [51]:
len(pd_polarization)

1286

In [52]:
pd_polarization.columns

Index(['t1_id', 't2_id', 't1_author_id', 't2_author_id', 't1_text_cleaned',
       't2_text_cleaned', 't1_year', 't2_year', 't1_author_country',
       't2_author_country', 't1_author_polarization', 't2_author_polarization',
       'cluster'],
      dtype='object')

In [53]:
pd_polarization = pd_polarization.sample(100, random_state=1)
pd_polarization = pd_polarization[['t1_id','t2_id','t1_author_id','t2_author_id','t1_year','t2_year','t1_author_country','t2_author_country','t1_author_polarization','t2_author_polarization']]

In [54]:
pd_polarization.head()

,t1_id,t2_id,t1_author_id,t2_author_id,t1_year,t2_year,t1_author_country,t2_author_country,t1_author_polarization,t2_author_polarization
900,1253020497303961603,1253021624556797955,1044923978,78696113,2020.0,2020,United States,United States,1.00,-2.03
867,900893907088814080,900929458584117249,1228478348,69467866,2017.0,2017,United States,United States,0.84,-1.53
1023,968271614994296832,968291387019022336,2863445600,38442614,2018.0,2018,United States,United States,-2.01,-2.55
1185,1581425756323733504,1582374479920914434,199400192,811031645759238144,2022.0,2022,United States,United States,-2.26,0.79
952,1179874763809771520,1181020207617335302,24549263,356325729,2019.0,2019,United States,United States,2.13,-2.02

In [55]:
pd_polarization.to_pickle('_polarization/sample_pd_polarization.pkl')

#### toxicity

##### benchmark toxicity

In [56]:
pd_benchmark = pd.read_pickle('_toxicity/benchmark_toxicity.pkl')

In [57]:
len(pd_benchmark)

274296

In [58]:
pd_benchmark.columns

Index(['t1_author_id', 't2_author_id', 't1_id', 't2_id', 't1_year', 't2_year',
       't1_text_cleaned', 't2_text_cleaned', 't1_detoxify_toxicity',
       't2_detoxify_toxicity'],
      dtype='object')

In [59]:
pd_benchmark = pd_benchmark.sample(100, random_state=1)
pd_benchmark = pd_benchmark[['t1_id','t2_id','t1_author_id','t2_author_id','t1_year','t2_year','t1_detoxify_toxicity','t2_detoxify_toxicity']]

In [60]:
pd_benchmark.head()

,t1_id,t2_id,t1_author_id,t2_author_id,t1_year,t2_year,t1_detoxify_toxicity,t2_detoxify_toxicity
218982,None,1206182032918896640,None,28350888,NaN,2019,NaN,0.000741
119123,466970856661745664,466971224325636096,120332229,14127332,2014.0,2014,0.000586,0.000534
90518,257873248145002496,257873408543555584,242151184,319415545,2012.0,2012,0.002954,0.001111
103281,None,345994107002433536,None,1513612963,NaN,2013,NaN,0.000626
54816,None,27460270435,None,201480224,NaN,2010,NaN,0.796262

In [61]:
pd_benchmark.to_pickle('_toxicity/sample_benchmark_toxicity.pkl')

validation sample

In [62]:
tox_val = pd.read_csv('_toxicity/detoxify_validation_scored.csv', index_col=0)

In [63]:
len(tox_val)

100

In [64]:
tox_val.columns

Index(['ID', 'Text', 'Label_e1', 'Label_e2', 'agreement', 'score_detoxify'], dtype='object')

In [65]:
tox_val = tox_val.sample(100)
tox_val = tox_val[['ID','Label_e1','Label_e2','score_detoxify']]

In [66]:
tox_val.head()

                     ID   Label_e1   Label_e2  score_detoxify
1    537475453796089856      toxic  not toxic        0.985619
95  1606335415061024780  not toxic  not toxic        0.002222
98  1477683093922267137  not toxic  not toxic        0.001077
56  1554654890810646528  not toxic  not toxic        0.003446
6   1490901528848535556      toxic      toxic        0.413614

In [67]:
tox_val.to_csv('_toxicity/sample_detoxify_validation_scored.csv')